// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";

h1{
	font-family: Anton, Arial, sans-serif;
}

p{

	font-size:1.8em;
	font-family: 'Quicksand', Arial, sans-serif;
}

//Sections
section{
	padding:80px 0;
	text-align: center;
}
.section-title{
	margin-bottom:40px;
}
.blog{
	text-align: left;
}
.ultima-noticia{
	p{
		font-size: 1.2em;
	}
}
.noticia{
	h2{
		font-size: 1.4em;
	}
	p{
		font-size: 1.2em;
	}
}

.apresentacoes{
	color:white;
	a{
		color:white;
	}
}

.parallax-window{
	min-height: 400px;
    background: transparent;
}

.parallax-window2{
	min-height: 400px;
    background: transparent;
    color:white;
}

.copyright{
	padding:20px 0;
	background: #3a3a3a;
	color:rgba(255,255,255, .78);	
}