// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";

h1{
	font-family: Anton, Arial, sans-serif;
}

p{

	font-size:1.8em;
	font-family: 'Quicksand', Arial, sans-serif;
}

//Sections
.apresentacao{
	padding:80px 0;
	text-align: center;
}