// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";

h1{
	font-family: Anton, Arial, sans-serif;
}

p{

	font-size:1.8em;
	font-family: 'Quicksand', Arial, sans-serif;
}

//Sections
section{
	padding:80px 0;
	text-align: center;
}

.parallax-window{
	min-height: 400px;
    background: transparent;
}

.parallax-window2{
	min-height: 400px;
    background: transparent;
    color:white;
}

.copyright{
	padding:20px 0;
	background: #3a3a3a;
	color:rgba(255,255,255, .78);	
}